body {
    background-image: url('../images/lloyd-dirks-74271-unsplash\ copy2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #060D1D;
}


.jumbotron {
height: 100px;
background-color: #060D1D;
border-radius: 10px;
}



.fa-film {
    font-size: 32px;
}

.fa-magic {
    font-size: 28px;
}

#navbarDropdown {
    color: black;
}

.navbar {
  top: -45px !important;
  border-radius: 10px;
  background-color: #181819 !important;
}

.navbar-brand, .nav-link {
    font-family: 'Anton', sans-serif !important;
    color: #F8F9FA !important;
}

.form-inline {
    padding: 2px;
    margin: 5px;
}

.navbar-brand {
    font-size: 30px;
}


.nav-link {
    margin-left: -12px !important;
}

.dropdown-menu, .form-control {
    width: 100% !important;
}

footer {
    position: fixed;
    bottom: 0;
    height: 100px !important;
    background-color: #181819 !important;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 100 !important;
    color: #F8F9FA !important;
    margin-top: 500px;
}

#footerTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important;
}

.historyButton {
    margin-right: 5px;
    background-color: #181819 !important;
}

#gifs-appear-here {
    text-align: center;
}

#gifs-appear-here > div {
    display: inline-block;
    margin: 5px;

}

#gifs-appear-here > div > img {
    margin: 5px;
    border: white 2px solid;
    border-radius: 10px;
}

#history-appear-here {
    text-align: center;
}

.moreGifs {
    text-align: center;
}

.moreBtn{
    text-align: center;
}

.moreGifs > button {
    /* border-radius: 1px; */
    text-align: center;
    /* background: rgb(255, 255, 255); */
}

#history-appear-here > div {
    display: inline-block;
    margin: 5px;
}

#history-appear-here > div > img {
    margin: 5px;
    border: white 2px solid;
    border-radius: 10px;
}



#gif-container {
    margin-bottom: 200px;
}

/*Side menu Style starts*/
    .shiftContentIn{
        margin-right: 263px;
        transition: all 0.5s ease-out 0s;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
    }
    .shiftContentOut{
        margin-right: 0;
        transition: all 0.5s ease-in 0s;
        -webkit-transition: all 0.5s ease-in 0s;
        -moz-transition: all 0.5s ease-in 0s;
        -ms-transition: all 0.5s ease-in 0s;
        -o-transition: all 0.5s ease-in 0s;
    }


  #sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(0,0,0);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
  }

  a#menu-close {
    left: 187px;
    position: absolute;
    }
    a#menu-toggle{
        transform: rotateZ(270deg);
        margin-top: 37px;
        margin-right: -55px;
    }

  a#menu-toggle, a#menu-close {
    background: #181819;
    border-color: #181819;
    color: #fff;
    }

  .sidebar-nav li a:hover {
    color: #fff;
    
    text-decoration: none;
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  #menu-toggle {
    /*top: 0;*/
    right: 0;
    position: fixed;
    z-index: 1;
    top: 14px;
    border-radius: 10px;
    /*background-color: #181819 !important;*/
  }

  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }
  /*side menu ends*/

  /*btn style for download*/


 .downloadBtn {
    color: white !important;
    position: absolute;
    margin: 14px 12px;
    font-size: 21px;
    text-shadow: 0 0 5px #000;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.15);*/
   -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.downloadBtn:hover{
    color: #4d071b;
    cursor: pointer;
    text-shadow: 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 2px #000,                
                 0 0 2px #000,                
                 0 0 2px #000,               
                 0 0 2px #000,                
                 0 0 2px #000;
}


.favDownloadBtn {
    color: white !important;
    position: absolute;
    margin: 8px 39px;
    font-size: 21px;
    text-shadow: 0 0 5px #000;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.15);*/
   -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.favDownloadBtn:hover{
    color: #4d071b;
    cursor: pointer;
    text-shadow: 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 2px #000,                
                 0 0 2px #000,                
                 0 0 2px #000,               
                 0 0 2px #000,                
                 0 0 2px #000;
}

.favDiv{
    width: 100%;
    /* border: 1px solid white; */
    /* position: absolute; */
    margin: 12px auto;
}

.favImage{
    width: 84%;
    border: 2px solid white;
    border-radius: 10px;
}

.favBtn{
    color: white !important;
    position: absolute;
    font-size: 21px;
    margin: 14px 46px;
    text-shadow: 0 0 5px #000;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.15);*/
   -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.favBtn:hover{
    color: #4d071b;
    cursor: pointer;
    text-shadow: 0 0 5px #666,
                 0 0 5px #666,
                 0 0 5px #666,
                 0 0 5px #666,
                 0 0 5px #666,
                 0 0 2px #000,
                 0 0 2px #000,
                 0 0 2px #000,
                 0 0 2px #000,
                 0 0 2px #000;
}



.deletebtn{
    color: white !important;
    text-shadow: 0 0 5px #000;
    position: absolute;
    margin: 8px 7px;
    font-size: 21px;
}

.deletebtn:hover{
    color: #4d071b;
    cursor: pointer;
    text-shadow: 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 5px #666,                
                 0 0 2px #000,                
                 0 0 2px #000,                
                 0 0 2px #000,               
                 0 0 2px #000,                
                 0 0 2px #000;
}

