body {
    background-color: #181819;
}

.jumbotron {
height: 100px;
background-color:rgb(248, 249, 250);
background-image: url('../images/background3.png');
}

.fa-film {
    font-size: 32px;
}

.fa-magic {
    font-size: 28px;
}

#navbarDropdown {
    color: black;
}

.navbar {
  top: -45px !important;
  border-radius: 10px;
  background-color: #181819 !important;
}

.navbar-brand, .nav-link {
    font-family: 'Anton', sans-serif !important;
    color: #F8F9FA !important;
}

.form-inline {
    padding: 2px;
    margin: 5px;
}

.navbar-brand {
    font-size: 30px;
}


.nav-link {
    margin-left: -12px !important;
}

.dropdown-menu, .form-control {
    width: 100% !important;
}

footer {
    position: fixed;
    bottom: 0;
    background: gray;
    width: 100%;
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 500px;
}

.historyButton {
    margin-right: 5px;
}

#gifs-appear-here {
    text-align: center;
}

#gifs-appear-here > img {
    margin: 5px;
    border: white 1px solid;
}

#history-appear-here {
    text-align: center
}

#history-appear-here > img {
    margin: 5px;
}

#gif-container {
    margin-bottom: 200px;
}